@model Person
@{
    ViewData["Title"] = "Удаление сотрудника";
}

<h1>Удаление</h1>
<h3>Вы точно хотите удалить этого сотрудника?</h3>
<form method="post" asp-controller="Person" asp-action="Delete">
    <div class="border p-3 mt-4">
        <div class="form-group">
            <h3>"@Model.Name - @Model.DisplayName"</h3>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Да</button>
        <a asp-controller="Person" asp-action="Index" class="btn btn-secondary" style="width:250px">
            Нет
        </a>
    </div>
</form>