@model Skill
@{
    ViewData["Title"] = "Удаление навыка";
}

<h1>Удаление</h1>
<h3>Вы точно хотите удалить этот навык?</h3>
<form method="post" asp-controller="Person" asp-action="DeleteSkill">
    <div class="border p-3 mt-4">
        <div class="form-group">
            <h3>"@Model.Name"</h3>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Да</button>
        <a asp-controller="Person" asp-action="ViewSkill" class="btn btn-secondary" style="width:250px">
            Нет
        </a>
    </div>
</form>